
body {
    background: url(images/grey_comb.png) no-repeat center center fixed; 
    background-size: cover;
}

#urlList li
{
    list-style: none;
    font-size: 18px;
}

.imgBtn
{
    cursor:pointer;
    border-radius:5px; 
    background-color: transparent;
    border:none;
}
h3
{
    font-family: 'Shojumaru', cursive;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
p
{
    font-size: 14px;
    color:#DDD;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
.txtBox
{
    border-radius:5px;
    border-width:1px;
    height: 23px;
    width: 34px;
    font-size: 14px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.selectBox option
{
    font-size: 14px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 18px;
}

label:before {
    content: "";
    display: inline-block;

    width: 24px;
    height: 24px;

    margin-right: 20px;
    position: absolute;
    left: -5;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.checkbox label {
    margin-bottom: 10px;
}
input[type=checkbox] {
    display: none;
}
.checkbox label:before {
    border-radius: 3px;
}
input[type=checkbox]:checked + label:before {
    content: "\2714";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 36px;
    color: #303030;/*#f3f3f3;*/
    text-align: center;
    line-height: 15px;
}

#master 
{
    float:left;
    position: relative;
    width:400px;
    top:180px;
    left: 50px
}
#master img 
{
    width: 350px;
}
#top-banner
{
    top:0px;
    left:0px;
    position: fixed;
    z-index: 10000;
    margin: auto;
    width: 150%;
    height: 100px;
    background: #005555;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0 6px 3px 0px rgba(0, 0, 0, 0.36);

}
#top-banner h1
{
    font-family: 'Shojumaru', cursive; 
    position: relative;
    font-size: 48;
    left: 100px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
#edit 
{
    position: absolute;
    width:500px;
    height: 1000px;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -250px;
}
#discipline-list-box
{
    display:block; 
    background:#005555;
    padding: 0.8em;
    border-radius: 0.5em;
    position:relative;
    width: 500px;
    min-height: 300px;
    box-shadow: 0 4px 6px -5px hsl(0, 30%, 80%), inset 0px 6px 6px -5px hsl(0, 0%, 2%);

}

#discipline-list-box h2 {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif; 
    font-size:26;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#add-domain {
    
    position: relative;
    background: #005555;
    width:523px;
    border-radius: 0.5em;
    border: none;
    padding: 0.8em;
    color: rgba(0,0,0,0.4);
    font-size: 1.2em;
    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 30%, 80%), inset 0px 6px 6px -5px hsl(0, 0%, 2%);
}